@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1em;
  background-color:#ABA8A9;
  border-bottom: 1px solid rgb(106, 106, 106);
  font-weight: 200;

}

.Title {
  margin-left: 18px;
  font-weight: 200;
}

.LoginPageImg {
  width: 95%;
  height: 95%;
}

.svgContainer {
  width: 550px;
  height: 550px;
  margin: 0 auto;
}

.LoginCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
}

.button-58 {
  margin-bottom: 15px;
  align-items: center;
  background-color: #CBF83E;
  border: 2px solid #CBF83E;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #e4ff93;
  border-color: #e4ff93;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.BackgroundBox, .AdviceContainer {
  display: flex;
  background-color: #ABA8A9;
  z-index: -1;
  left: 0;
  right: 0;
  height: 100vh;
  justify-content: center;
}
.AdviceContainer{
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 1200;
}
.BackgroundBox {
  justify-content: center;
  padding: 100px;
}
.AdviceTitle {
  margin-top: 50px;
}

.AdvicetxtDefault{
  margin-top: 40px;
}

.Advicetxt {
  margin-top: 40px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.LogoutBtn {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 10px;
  font-size: larger;
  text-decoration: none;
  color: inherit;
  background: linear-gradient(0deg, #CBF83E, #CBF83E) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}

.LogoutBtn:hover{
  color: black;
  cursor: pointer;
}

.LogoutBtn:where(:hover, :focus-visible){
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.AdviceBtn {
  margin-top: 70px;
  
}